<header class="col-12 p-0"></header>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: -70px">
    <div class="shadow bg-white rounded col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-6 offset-sm-3">
      <form class="loginForm">
        <div>
          <img src="../../../assets/image/Logo for Splash Screen-03.png" class="encter" alt="">
        </div>
        <div class="margin-auto">
          <a class="btn btn-default btn-lg btn-block rounded-20" href="{{loginURL}}">LOGIN</a>
        </div>
      </form>
    </div>
  </div>
</div>
