<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 border-shadow bg-white rounded mt-xl-2 mt-lg-2 mt-md-2 mt-sm-2 mt-2">
    <app-search-bar-top></app-search-bar-top>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-xl-5 mt-lg-5 mt-md-5 mt-sm-5 mt-5 p-0">
    <div class="row pt-xl-5">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="row">
          <div class="col-xl-12">
            <div (click)="uploadPhotographClicked()" class="upload-btn-Area float-lg-right">
              <div class="text-center text-vertical-middle">
                <i class="text fs-35 center material-icons">add_circle_outline</i>
                <p class="text">File size should be less than 2 MB <br> jpeg, png</p>
                <img class="img-thumbnail" src="{{photograph_image}}" alt="" *ngIf="photograph_image">
              </div>
            </div>
          </div>
          <div class="col-xl-12 text-center">
            <div class="col-lg-9 float-right text-capitalize mt-xl-2">
              <label class="fileContainer">
                upload photograph
                <input type="file" accept="image/*" #photograph (change)="uploadPhotograph($event.target.files)">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="row">
          <div class="col-xl-12">
            <div (click)="uploadDocumentClicked()" class="upload-btn-Area">
              <div class="text-center text-vertical-middle">
                <i class="text fs-35 center material-icons">add_circle_outline</i>
                <p class="text">File size should be less than 2 MB <br> Passport, Id Card</p>
                <img class="img-thumbnail" src="{{photograph_document}}" alt="" *ngIf="photograph_document">
              </div>
            </div>
          </div>
          <div class="col-xl-12 text-center">
            <div class="col-lg-9 text-capitalize mt-xl-2">
              <label class="fileContainer">
                upload documents
                <input type="file" accept="image/*" #document (change)="uploadDocument($event.target.files)">
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-12 mt-xl-5">
        <div class="col-xl-2 center">
          <button class="btn btn-block btn-primary btn-lg br-30 text-bold text-uppercase" (click)="saveClicked()">save</button>
        </div>
      </div>
    </div>
  </div>
</div>
