<div class="fixed-bottom footer">
  <nav class="navbar navbar-light">
    <div class="navbar-expand navbar-text">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link p-0" href="#">
            <img src="../../../assets/image/facebook-logo-button.svg" alt="facebook" width="25px">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-0" href="#">
            <img src="../../../assets/image/twitter.svg" alt="twitter" width="25px">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  p-0" href="#">
            <img src="../../../assets/image/instagram.svg" alt="instagram" width="25px">
          </a>
        </li>
      </ul>
    </div>
    <div class="tag-line pull-right">
      Powered by Blockchain
    </div>
  </nav>
</div>
