<header>
  <div class="clearfix"></div>
  <div class="col-lg-6 float-right">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <ng-content></ng-content>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <button class="btn btn-block btn-outline-light rounded-20 text-uppercase">{{time}}</button>
      </div>
      <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <button class="btn btn-block btn-outline-light rounded-20 text-uppercase">English</button>
      </div> -->
    </div>
  </div>
</header>
