<nav class="navbar-expand-lg navbar-light">
  <div class="sidebar-header">
    <img src="../assets/image/{{imageName}}" class="pull-left ml-3 mb-3" style="max-width: 135px" alt="">
    <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="clearfix"></div>
    <div>
      <h5 class="col-12">{{name}}</h5>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav flex-column">
      <ng-content></ng-content>
    </ul>
  </div>
</nav>
