<!-- Nissan Finance | Nissan Australia -->
<li class="nav-item"><a class="nav-link" [routerLink]="[ '/finance-company/application-queue' ]">Application Queue</a></li>
<li class="nav-item"><a class="nav-link" [routerLink]="[ '/finance-company/inventory' ]">Inventory</a></li>
<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" data-target="#navbarDropdown">Allocate Car</a>
  <div class="collapse" id="navbarDropdown">
    <a class="nav-link" [routerLink]="[ '/finance-company/allocate-multiple-cars' ]">Allocate Multiple Cars</a>
  </div>
</li>
